<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="../static/main.js"></script>
        <title>Shopping List</title>
        <style>
            div {
            display: flex;
            flex-align: row;
            justify-content: space-around;
            margin: 5px 0;
            background-color: #BBB;
            border: 2px solid #AAA;
            border-radius: 4px
            }
        </style>
    </head>
    <body>
        <h1>Shopping List</h1>
        <div id="products">
            <div>
                <p>Product</p>
                <p>Remove</p>
                <p>Have been bought?</p>
            </div>
        </div>
        <button id="button_add">Add product</button>
    </body>
</html>